<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>
          {% if site.institute1_name && site.institute2_name %}
            {% if site.institute_url %}
            <a href="{{ site.institute_url | escape }}">
            {% endif %}
            <li>{{ site.institute1_name }} & {{ site.institute2_name }}</li>
            {% if site.institute_url %}
            </a>
            {% endif %}
          {% endif %}
          <li><a href="mailto:{{ site.email_1 }}">{{ site.email_1 }}</a></li>
          <li><a href="mailto:{{ site.email_2 }}">{{ site.email_2 }}</a></li>
        </ul>
      </div>

      {% if site.social_media %}
      <div class="footer-col">
        {% for account in site.social_media %}
          {% assign service_shortname = account[0] %}
          {% assign service = site.data.social_media[service_shortname] %}
          <a href="{{ service.profile_url_prefix }}{{ account[1] }}" aria-label="{{ service.name }}: {{ account[1] }}">
            <span class="myicon" >{{ service.icon_svg }}</span></a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  {% if site.footer %}
  <div class="footer-text">{{ site.footer }}</div>
  {% endif %}

</footer>
